
@{
    ViewData["Title"] = "Pagina";
    Layout = null;
}

<link rel="stylesheet" href="~/css/Inicio.css" asp-append-version="true" />

<h1>Pagina</h1>


<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - Colaboracion entre Global Tec Perú y Alvaro Menacho
    </div>
</footer>

